<header class="bg-white sticky-top">    
    <div class="d-flex justify-content-between">
        <h1 class="fs-1"><a href="{% url 'index' %}">{{ title }}</a></h1>
        <div class="align-content-end mb-3">
            <span>こんにちは {{ user.username }} さん</span>
            <a class="ms-4" href="{% url 'logout' %}">ログアウト</a>
        </div>
    </div>
    <nav class="nav breadcrumb">
        <a class="nav-link" href="{% url 'index' %}">ホーム</a>
        <a class="nav-link" href="{% url 'recipe_list' %}">レシピ一覧</a>
        <a class="nav-link" href="{% url 'scraping' %}">レシピ一覧の更新</a>
    </nav>
</header>