{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "recipe_app/head.html" %}
</head>

<body class="container">
    {% include "recipe_app/header.html" %}
    <h1 class="border border-5 p-3 mt-0">今日のおすすめレシピ</h1>

    <!-- 主菜 -->
    <div class="mx-auto text-cente img-max-height-50vh">
        <div class="image-container mt-1">
            <img class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ main.img }}" alt="{{ main.name }}">
            {% include "recipe_app/favorite_button.html" %}
            <p class="image-label">主菜：{{ main.name }}</p>
        </div>
    </div>

    <!-- 副菜、汁物、デザート -->
    <div class="mx-auto mt-3 d-flex justify-content-cente img-max-height-80vh">
        <div class="image-container mx-1">
            <img id="main_img" class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ sub.img }}"
                alt="{{ sub.name }}">
                {% include "recipe_app/favorite_button.html" %}
            <p class="image-label">副菜：{{ sub.name }}</p>
        </div>
        <div class="image-container mx-1">
            <img id="main_img" class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ soup.img }}"
                alt="{{ soup.name }}">
                {% include "recipe_app/favorite_button.html" %}
            <p class="image-label">汁物：{{ soup.name }}</p>
        </div>
        <div class="image-container mx-1">
            <img id="main_img" class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ desert.img }}"
                alt="{{ desert.name }}">
                {% include "recipe_app/favorite_button.html" %}
            <p class="image-label">デザート：{{ desert.name }}</p>
        </div>
    </div>

    <!-- レシピ一覧 -->
    <div class="mx-auto mt-3 text-center">
        <a href="{% url 'recipe_list' %}">
            <p class="border border-5 fs-4">レシピ一覧へ</p>
        </a>
    </div>

    <!-- お気に入りボタン制御 -->
    <script src="{% static 'recipe_app/js/favorite.js' %}"></script>
</body>

</html>