{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "recipe_app/head.html" %}
</head>

<body class="container">
    {% include "recipe_app/header.html" %}
    <h1 class="border border-5 p-3 mt-0 fs-1 fw-bold">今日のおすすめレシピ</h1>

    <!-- 主菜 -->
    <div class="mx-auto text-cente img-max-height-50vh">
        <div class="image-container mt-1">
            {% if main %}
            <a href="{% url 'recipe_detail' recipe_id=main.recipe.id %}">
                <img class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ main.recipe.img }}" alt="{{ main.recipe.name }}">
                <p class="image-label bg-warning-subtle rounded fw-bold">主菜：{{ main.recipe.name }}</p>
            </a>
                {% include "recipe_app/favorite_button.html" with item_id=main.recipe.id is_favorite=main.is_favorite %}
            {% else %}
            <p class="img-thumbnail mx-5 px-3">※「主菜」レシピの登録なし</p>
            {% endif %}
        </div>
    </div>

    <!-- 副菜、汁物、デザート -->
    <div class="mx-auto mt-3 {% if sub or soup or desert %}d-md-flex{% endif %} justify-content-cente img-max-height-80vh">
        <div class="image-container mx-1">
            {% if sub %}
            <a href="{% url 'recipe_detail' recipe_id=sub.recipe.id %}">
                <img id="main_img" class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ sub.recipe.img }}"
                    alt="{{ sub.recipe.name }}">
                <p class="image-label bg-warning-subtle rounded fw-bold">副菜：{{ sub.recipe.name }}</p>
            </a>
            {% include "recipe_app/favorite_button.html" with item_id=sub.recipe.id is_favorite=sub.is_favorite %}
            {% else %}
            <p class="img-thumbnail mx-5 px-3">※「副菜」レシピの登録なし</p>
            {% endif %}
        </div>
        <div class="image-container mx-1">
            {% if soup %}
            <a href="{% url 'recipe_detail' recipe_id=soup.recipe.id %}">
                <img id="main_img" class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ soup.recipe.img }}"
                    alt="{{ soup.recipe.name }}">
                <p class="image-label bg-warning-subtle rounded fw-bold">汁物：{{ soup.recipe.name }}</p>
            </a>
            {% include "recipe_app/favorite_button.html" with item_id=soup.recipe.id is_favorite=soup.is_favorite %}
            {% else %}
            <p class="img-thumbnail mx-5 px-3">※「汁物」レシピの登録なし</p>
            {% endif %}
        </div>
        <div class="image-container mx-1">
            {% if desert %}
            <a href="{% url 'recipe_detail' recipe_id=desert.recipe.id %}">
                <img id="main_img" class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ desert.recipe.img }}"
                    alt="{{ desert.recipe.name }}">
                <p class="image-label bg-warning-subtle rounded fw-bold">デザート：{{ desert.recipe.name }}</p>
            </a>
            {% include "recipe_app/favorite_button.html" with item_id=desert.recipe.id is_favorite=desert.is_favorite %}
            {% else %}
            <p class="img-thumbnail mx-5 px-3">※「デザート」レシピの登録なし</p>
            {% endif %}
        </div>
    </div>

    <!-- レシピ一覧 -->
    <div class="mx-auto mt-3 text-center">
        <div class="d-inline-block container-fluid">
            <a href="{% url 'recipe_list' %}">
                <p class="border border-5 p-1 px-2">レシピ一覧へ</p>
            </a>
        </div>
    </div>
</body>

</html>