{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "recipe_app/head.html"%}
</head>

<body class="container">
    <div>
        <h2 class="my-4">ログイン</h2>
        <div class="d-inline-block">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                <p>{{ field }}</p>
                    {% for error in field.errors %}
                    <p class="invalid-feedback ms-3 text-start">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <p><input class="btn btn-primary ratio" type="submit" value="ログイン"></p>
            </form>
            <hr>
            <a href="{% url 'signup' %}"><button type="button" class="btn btn-secondary">新規登録</button></a>
        </div>
    </div>
</body>

</html>