{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "recipe_app/head.html" %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="container">
    {% include "recipe_app/header.html" %}
    
    <!-- タブ -->
    <ul class="nav nav-tabs nav-justified">
        <li class="w-25 active"><a data-toggle="tab" href="#recipe_list_1">主菜</a></li>
        <li class="w-25"><a data-toggle="tab" href="#recipe_list_2">副菜</a></li>
        <li class="w-25"><a data-toggle="tab" href="#recipe_list_3">汁物</a></li>
        <li class="w-25"><a data-toggle="tab" href="#recipe_list_4">デザート</a></li>
    </ul>

    <!-- コンテンツ -->
    <div class="tab-content text-center img-max-height-80vh">

        <!-- 主菜 -------------------------------------------------------------------->
        <div id="recipe_list_1" class="tab-pane fade in active">

            {% for item in main %}
                {% if not forloop.counter|divisibleby:2 %}
                <div class="mx-auto mt-3 d-flex justify-content-around">
                {% endif %}

                    <div class="image-container mx-1">
                        <img id="main_img" class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ item.img }}" alt="{{ item.name }}">
                        {% include "recipe_app/favorite_button.html" %}
                        <p class="image-label">{{ item.name }}</p>
                    </div>

                {% if forloop.counter|divisibleby:2 %}
                </div>
                {% endif %}
            {% endfor %}

            <!-- リスト数が奇数ならば</div>を追加 -->
            {% if not main|length|divisibleby:2 %}
            </div>
            {% endif %}

            <!-- ページネーション -->
            {% include "recipe_app/pagination.html" %}
        </div>

        <!-- 副菜 -------------------------------------------------------------------->
        <div id="recipe_list_2" class="tab-pane fade">

            {% for item in sub %}
                {% if not forloop.counter|divisibleby:2 %}
                <div class="mx-auto mt-3 d-flex justify-content-around">
                {% endif %}

                    <div class="image-container mx-1">
                        <img id="main_img" class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ item.img }}" alt="{{ item.name }}">
                        {% include "recipe_app/favorite_button.html" %}
                        <p class="image-label">{{ item.name }}</p>
                    </div>

                {% if forloop.counter|divisibleby:2 %}
                </div>
                {% endif %}
            {% endfor %}

            <!-- リスト数が奇数ならば</div>を追加 -->
            {% if not sub|length|divisibleby:2 %}
            </div>
            {% endif %}

            <!-- ページネーション -->
            {% include "recipe_app/pagination.html" %}
        </div>

        <!-- 汁物 -------------------------------------------------------------------->
        <div id="recipe_list_3" class="tab-pane fade">

            {% for item in soup %}
                {% if not forloop.counter|divisibleby:2 %}
                <div class="mx-auto mt-3 d-flex justify-content-around">
                {% endif %}

                    <div class="image-container mx-1">
                        <img id="main_img" class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ item.img }}" alt="{{ item.name }}">
                        {% include "recipe_app/favorite_button.html" %}
                        <p class="image-label">{{ item.name }}</p>
                    </div>

                {% if forloop.counter|divisibleby:2 %}
                </div>
                {% endif %}
            {% endfor %}

            <!-- リスト数が奇数ならば</div>を追加 -->
            {% if not soup|length|divisibleby:2 %}
            </div>
            {% endif %}

            <!-- ページネーション -->
            {% include "recipe_app/pagination.html" %}
        </div>

        <!-- デザート ---------------------------------------------------------------->
        <div id="recipe_list_4" class="tab-pane fade">

            {% for item in desert %}
                {% if not forloop.counter|divisibleby:2 %}
                <div class="mx-auto mt-3 d-flex justify-content-around">
                {% endif %}

                    <div class="image-container mx-1">
                        <img id="main_img" class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ item.img }}" alt="{{ item.name }}">
                        {% include "recipe_app/favorite_button.html" %}
                        <p class="image-label">{{ item.name }}</p>
                    </div>

                {% if forloop.counter|divisibleby:2 %}
                </div>
                {% endif %}
            {% endfor %}

            <!-- リスト数が奇数ならば</div>を追加 -->
            {% if not desert|length|divisibleby:2 %}
            </div>
            {% endif %}

            <!-- ページネーション -->
            {% include "recipe_app/pagination.html" %}
        </div>
    </div>

    <!-- ホーム -->
    <div class="mx-auto mt-3 text-center">
        <a href="{% url 'index' %}">
            <p class="border border-5 fs-3">ホームへ</p>
        </a>
    </div>

    <!-- お気に入りボタン制御 -->
    <script src="{% static 'recipe_app/js/favorite.js' %}"></script>

    <hr>
    <hr><!-- 試作 ------------------------------------------------------------------->
    <hr>

    <div class="container">

        <!-- タブ -->
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="w-25 nav-item">
                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true" data-tab="tab1">主菜</a>
            </li>
            <li class="w-25 nav-item">
                <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false" data-tab="tab2">副菜</a>
            </li>
            <!-- <li class="w-25 nav-item">
                <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false" data-tab="tab3">汁物</a>
            </li>
            <li class="w-25 nav-item">
                <a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false" data-tab="tab4">デザート</a>
            </li> -->
        </ul>

        <!-- コンテンツ -->
        <div class="tab-content text-center img-max-height-80vh" id="myTabContent">

            <!-- レシピ一覧：主菜 -->
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div id="tab1-items-container">

                    {% for item in main %}
                        <!-- 奇数個目のレシピの頭にはdivを追加 -->
                        {% if not forloop.counter|divisibleby:2 %}
                        <div class="mx-auto mt-3 d-flex justify-content-around">
                        {% endif %}

                            <div class="image-container mx-1">
                                <img id="main_img" class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ item.img }}" alt="{{ item.name }}">
                                {% include "recipe_app/favorite_button.html" %}
                                <p class="image-label">{{ item.name }}</p>
                            </div>

                        <!-- 奇数個目のレシピには</div>を追加 -->
                        {% if forloop.counter|divisibleby:2 %}
                        </div>
                        {% endif %}
                    {% endfor %}

                    <!-- リスト数が奇数ならば</div>を追加 -->
                    {% if not main|length|divisibleby:2 %}
                    </div>
                    {% endif %}
                </div>

                <!-- ページネーション -->
                <nav>
                    <ul class="pagination" id="tab1-pagination">
                        <li class="page-item"><a class="page-link" href="#" data-page="prev">&lt;</a></li>
                        <!-- Page numbers will be injected here -->
                        <li class="page-item"><a class="page-link" href="#" data-page="next">&gt;</a></li>
                    </ul>
                </nav>
            </div>

            <!-- レシピ一覧：副菜 -->
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                <div id="tab2-items-container">
                    {% for item in sub %}
                        <!-- 奇数個目のレシピの頭にはdivを追加 -->
                        {% if not forloop.counter|divisibleby:2 %}
                        <div class="mx-auto mt-3 d-flex justify-content-around">
                        {% endif %}

                            <div class="image-container mx-1">
                                <img id="main_img" class="img-fluid img-thumbnail" src="{% static 'recipe_app/' %}{{ item.img }}" alt="{{ item.name }}">
                                {% include "recipe_app/favorite_button.html" %}
                                <p class="image-label">{{ item.name }}</p>
                            </div>

                        <!-- 奇数個目のレシピには</div>を追加 -->
                        {% if forloop.counter|divisibleby:2 %}
                        </div>
                        {% endif %}
                    {% endfor %}

                    <!-- リスト数が奇数ならば</div>を追加 -->
                    {% if not sub|length|divisibleby:2 %}
                    </div>
                    {% endif %}
                </div>

                <!-- ページネーション -->
                <nav>
                    <ul class="pagination" id="tab2-pagination">
                        <li class="page-item"><a class="page-link" href="#" data-page="prev">&lt;</a></li>
                        <!-- Page numbers will be injected here -->
                        <li class="page-item"><a class="page-link" href="#" data-page="next">&gt;</a></li>
                    </ul>
                </nav>
            </div>
        </div>


        <!-- ホーム -->
        <div class="mx-auto mt-3 text-center">
            <a href="{% url 'index' %}">
                <p class="border border-5 fs-3">ホームへ</p>
            </a>
        </div>

        <!-- お気に入りボタン制御 -->
        <script src="{% static 'recipe_app/js/favorite.js' %}"></script>
    </div>

    <script>
        $(document).ready(function() {
            function loadItems(tab, pageNumber) {
                $.ajax({
                    url: '{% url "paginate_view" %}',
                    data: { page: pageNumber, tab: tab },
                    success: function(data) {
                        const itemsContainer = $(`#${tab}-items-container`);
                        const paginationList = $(`#${tab}-pagination`);
                        
                        // Clear previous items
                        itemsContainer.empty();

                        // Add new items
                        data.items.forEach(item => {
                            itemsContainer.append('<div>' + item.name + '</div>');  // Adjust according to your model
                        });

                        // Update pagination links
                        paginationList.find('.page-item:not(:first):not(:last)').remove();

                        for (let i = 1; i <= data.num_pages; i++) {
                            paginationList.find('li:last').before(
                                `<li class="page-item"><a class="page-link" href="#" data-page="${i}">${i}</a></li>`
                            );
                        }

                        paginationList.find('.page-item').removeClass('active');
                        paginationList.find(`a[data-page="${pageNumber}"]`).parent().addClass('active');
                        
                        paginationList.find('a[data-page="prev"]').toggleClass('disabled', !data.has_previous);
                        paginationList.find('a[data-page="next"]').toggleClass('disabled', !data.has_next);
                    }
                });
            }

            // Load initial items for the active tab
            loadItems('tab1', 1);

            // Handle tab click
            $('#myTab a').on('click', function(e) {
                e.preventDefault();
                const tab = $(this).data('tab');
                $('.tab-pane').removeClass('show active');
                $(`#${tab}`).addClass('show active');

                // Load items for the selected tab
                loadItems(tab, 1);
            });

            // Handle page link click
            $(document).on('click', '.pagination a', function(e) {
                e.preventDefault();
                const tab = $('.tab-pane.show').attr('id');
                const page = $(this).data('page');
                if (page === 'prev' || page === 'next') {
                    const currentPage = $(`#${tab}-pagination .page-item.active a`).data('page');
                    const newPage = page === 'prev' ? (currentPage - 1) : (currentPage + 1);
                    loadItems(tab, newPage);
                } else {
                    loadItems(tab, page);
                }
            });
        });
    </script>

</body>

</html>