{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "recipe_app/head.html"%}
</head>

<body class="container">
    <!-- <div>
        <h2 class="my-4">新規登録</h2>
        <div class="d-inline-block">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <p class="row px-3">
                    <label class="col-form-label col-sm-5">名前</label>
                    <input class="col-sm form-control" type="text" name="name" placeholder="名前">
                </p>
                <p class="row px-3">
                    <label class="col-form-label col-sm-5">メールアドレス</label>
                    <input class="col-sm form-control" type="email" name="mail" placeholder="メールアドレス">
                </p>
                <p class="row px-3">
                    <label class="col-form-label col-sm-5">パスワード</label>
                    <input class="col-sm form-control" type="password" name="password" placeholder="パスワード">
                </p>
                <p><input class="btn btn-primary" type="submit" value="登録"></p>
            </form>
        </div>
    </div>
    <hr> -->
    <div>
        {% if alert %}<div class="alert alert-success mt-3" role="alert">{{ alert }}</div>{% endif %}
        <h2 class="my-4">新規登録</h2>
        <div class="d-inline-block">
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                <p class="row px-3">
                    <label class="col-form-label col-sm-5 text-start">{{ field.label }}</label>
                    {{ field }}
                </p>
                {% endfor %}
                <p><input class="btn btn-primary" type="submit" value="登録"></p>
            </form>
        </div>
</body>

</html>